body{
  background: #eee;
}
span{
  font-size:15px;
}
a{
text-decoration:none;
color: #0062cc;
border-bottom:2px solid #0062cc;
}
.box{
  padding:10px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}
h1{
  text-align: center;
  margin: 0 auto;
}

#logo{
display: block;
margin: 0 auto;
width: 10%;
height: 10%;
}

img{
  width:200px; 
  height: 150px
}
