<!--The content below is only a placeholder and can be replaced.-->

<h3>Chuck Norris joke</h3>
<p>{{randomJokeChuck.value}}</p>
<h3>Geek Joke</h3>
<p>{{randomJokeGeek}}</p>
<h3>Random Joke</h3>
<p>{{randomJoke.setup}}</p>
<p>{{randomJoke.punchline}}</p>
<div class="card">
        <img src="../assets/chuck-norris.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4 class="title">Chuck Norris Jokes</h4>
        </div>
    </div>
    <div class="card">
        <img src="../assets/programming-jokes.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4 class="title">Programming Jokes</h4>
        </div>
    </div>
    <div class="card">
        <img src="../assets/yo-mama.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4 class="title">Yo Mama Jokes</h4>
        </div>
    </div>

<router-outlet></router-outlet>