<!--The content below is only a placeholder and can be replaced.-->
<h1>JOKE SPHERE</h1>
<h3>Chuck Norris joke</h3>
<button (click)="onClickMe1()">Click me!</button>
<h3>Geek Joke</h3>
<button (click)="onClickMe2()">Click me!</button>
<h3>Random Joke</h3>
<button (click)="onClickMe3()">Click me!</button>
<h4>{{showJoke}}</h4>
<div class="card">
        <img src="../assets/chuck-norris.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4 class="title">Chuck Norris Jokes</h4>
        </div>
    </div>
    <div class="card">
        <img src="../assets/programming-jokes.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4 class="title">Programming Jokes</h4>
        </div>
    </div>
    <div class="card">
        <img src="../assets/yo-mama.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4 class="title">Yo Mama Jokes</h4>
        </div>
    </div>

<router-outlet></router-outlet>